.subheading {
    display: flex;
    align-items: center;
}

.horizontalLine {
    display: inline-block;
    width: 60px;
    background-color: black;
    height: 0.5px;
    margin-left: 8px;
    margin-right: 24px;
}

.greeting {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}

.projectsHeading {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-top: 30px;
    margin-bottom: 48px;
}

.highlight {
    color: #8e53e1;
}

.project {
    padding: 12px;
    padding-bottom: 20px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.16);

    margin: 12px 0px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 22px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projectName {
    font-size: 22px;
}

.projectImage {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.list {
    list-style-type: disc;
    padding-left: 18px;
}

.list > li {
    margin-bottom: 16px;
}

.listDescription {
    text-indent: 12px;
    letter-spacing: 0.8px;
    line-height: 20px;
    font-size: 15px;
}

.live {
    margin-right: 6px;
    text-decoration: none;
    background-color: #8e53e1;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.code {
    margin-right: 6px;
    text-decoration: none;
    background-color: white;
    color: #8e53e1;
    border: 1px solid #8e53e1;
    padding: 6px 12px;
    cursor: pointer;

}

@media screen and (min-width: 769px) {
    .projectsContainer {
        background-color: white;
        padding: 36px;
        border-radius: 22px;
    }

    .project {
        flex-direction: row;
    }

    .projectImageContainer {
        width: 70%;
    }

    .projectDetails {
        width: 30%;
    }
}