.subheading {
    display: flex;
    align-items: center;
}

.horizontalLine {
    display: inline-block;
    width: 60px;
    background-color: black;
    height: 0.5px;
    margin-left: 8px;
    margin-right: 24px;
}

.greeting {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}