.container {
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.hello {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 26px;
}

.myName {
    /* font-family: 'Roboto Mono', monospace; */
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-bottom: 26px;
}

.highlight {
    color: #8e53e1;
}

.description {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 80%;
    font-weight: 500;
    color: gray;
    text-align: center;
    letter-spacing: 0.05rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-bottom: 26px;
    margin-top: 26px;
}

.resume {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #8e53e1;
    padding: 14px 30px;
    border: none;
    border-radius: 24px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;

}

.contactButton {
    color: #8e53e1;
    border: none;
    background-color: white;
    font-size: 24px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.16);
    border-radius: 6px;
    padding: 8px 8px;
}

/* FONT-SIZE ----------------------- */
@media screen and (max-width: 460px) {
    .container {
        font-size: 16px;
    }

    .myName {
        font-size: 1.9rem;
    }

    .description {
        font-size: 1.1rem;
        line-height: 1.5rem;
        letter-spacing: 0.04rem;
    }

    .resume {
        margin: 0 auto;
        display: block;
        margin-bottom: 26px;
        margin-top: 26px;
    }

    .buttons {
        display: block;
    }

    .contactButtons {
        text-align: center;
    }
  }

  @media screen and (min-width: 461px) {
    .description {
        width: 95%;
    }
  }


  @media screen and (min-width: 769px) {
    .hello {
        font-size: 18px;
    }
    .myName {
        font-size: 2.2rem;
    }

  }

  @media screen and (min-width: 990px) {
    .container {
        width: 50%;
        text-align: left;
    }

    .container .hello {
        text-align: left;
    }

    .container .myName {
        text-align: left;
    }

    .container .description {
        text-align: left;
        width: 100%;
    }

    .container .buttons {
        justify-content: left;
    }

  }