.aside {
    position: fixed;
    left: -330px;
    z-index: 10;
    background-color: #8e53e1;
    width: 0px;
    height: 100vh;
    width: 220px;
    transition: left 400ms ease-in;
    padding: 24px;
}

.asideShow {
    left: 0;
}

.nav {
    display: flex;
    flex-direction: column;
}

.logo {
    color: white;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    padding: 24px 0px;
    text-align: center;
}

.navItems{
    text-align: center;
    padding-left: 36px;
}

.navItem {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    margin: 38px 0px;

    display: flex;
    gap: 12px;

}

@media screen and (min-width:990px) {
    .aside {
        left: 0;
        width: 110px;
        transition: all 400ms ease-in;
    }

    .aside:hover {
        left: 0;
        width: 220px;
    }

    .aside:hover .navText {
        opacity: 1;
        height: auto;
    }

    .aside:hover .navItems {
        padding-left: 20px;
    }

    .navText {
        transition: opacity 1s ease-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

    .navItems {
        padding-left: 10px;
        transition: all 300ms ease;
        margin-top: 70px;
    }

    .navItems > li {
        margin-bottom: 50px;
    }

    .navItems > li > a {
        align-items: center;
        padding: 10px;
    }

    .navItems > li > a:hover {
        background-color: #9d69e5;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.16); 
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.16);
    }

    .icon {
        font-size: 26px;
    }
}