.hamburger {
    font-size: 24px;
    padding: 4px 6px;
    border-radius: 8px;
    /* border: 1px solid transparent; */
    transition: all 600ms ease-in-out;
    background-color: transparent;
    color: rgb(85, 85, 85);

    position: fixed;
    top: 10px;
}
.header {
    padding-top: 12px;
    display: flex;
    justify-content: right;
}

.active {
    /* border: 1px solid #8e53e1; */
    background-color: #8e53e1;
    color: white;
}

@media screen and (min-width: 990px) {
    .hamburger {
        display: none;
    }
}