.container {
    padding: 20px 12px;
    margin-top: 60px;
    background-color: white;
}

.footerText {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.3px;
}