.App {
  background-color: #f7f7f7;

}

@media screen and (max-width: 460px) {
  .App {
      font-size: 14px;
      padding: 0px 20px;
  }
}

@media screen and (min-width: 461px) {
  .App {
    padding: 0px 28px;
  }
}