.App {
  background-color: #f7f7f7;

}

.InnerWrapper {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (min-width: 321px) {
  .App {
    padding: 0 10px;
  }
}

@media screen and (min-width: 990px) {
  .App {
    padding-left: 120px;
  }
}

@media screen and (min-width: 1140px) {
  .App {

  }
}